@page "/"
@page "/schedule"

@using BookRoom.Components
@using BookRoom.Components.CalendarComponent

<PageTitle>Schedule</PageTitle>

<h3>Schedule</h3>

<AuthorizeView>
<CalendarComponent></CalendarComponent>
</AuthorizeView>

