@page "/"
@page "/schedule"
@page "/schedule/room/{roomId:int}"

@using BookRoom.Components
@using BookRoom.Components.CalendarComponent

<PageTitle>Schedule</PageTitle>

<h3>Schedule</h3>

<AuthorizeView>
<CalendarComponent RoomId="@RoomId"></CalendarComponent>
</AuthorizeView>

@code {

    [Parameter]
    public int RoomId { get; set; }
}

